<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Globus5.WPF.Comum.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Comum.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Globus5.WPF.Comum.Properties.Settings>
            <setting name="BgmRodotec_EscalaWS" serializeAs="String">
                <value>http://localhost/globus5/escalaws.asmx</value>
            </setting>
            <setting name="BgmRodotec_GestaoDeFrotaOnLineWS" serializeAs="String">
                <value>http://localhost/globus5/gestaoDeFrotaOnlinews.asmx</value>
            </setting>
            <setting name="BgmRodotec_FolhaWS" serializeAs="String">
                <value>http://localhost/globus5/folhaws.asmx</value>
            </setting>
            <setting name="BgmRodotec_FrotaWS" serializeAs="String">
                <value>http://localhost/globus5/frotaws.asmx</value>
            </setting>
            <setting name="BgmRodotec_GlobusWS" serializeAs="String">
                <value>http://localhost/globus5/globusws.asmx</value>
            </setting>
        </Globus5.WPF.Comum.Properties.Settings>
        <Comum.Properties.Settings>
            <setting name="Comum_ws_escala_EscalaWS" serializeAs="String">
                <value>http://localhost/globus5/escalaws.asmx</value>
            </setting>
            <setting name="Comum_ws_gestaoDeFrotaOnline_GestaoDeFrotaOnLineWS"
                serializeAs="String">
                <value>http://localhost/globus5/gestaoDeFrotaOnlinews.asmx</value>
            </setting>
            <setting name="Comum_ws_folha_FolhaWS" serializeAs="String">
                <value>http://localhost/globus5/folhaws.asmx</value>
            </setting>
            <setting name="Comum_ws_frota_FrotaWS" serializeAs="String">
                <value>http://localhost/globus5/frotaws.asmx</value>
            </setting>
            <setting name="Comum_ws_globus_GlobusWS" serializeAs="String">
                <value>http://localhost/globus5/globusws.asmx</value>
            </setting>
        </Comum.Properties.Settings>
    </userSettings>
</configuration>