<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="iocConfigSection" type="XamlIoc.Configuration.IocConfigSection, XamlIoc"/>
	</configSections>
	<iocConfigSection mainContainer="Container.xaml">
		<standAloneResources>
			<!--<standAloneResource key="myListOfInt" uri="StandAlone/ListOfInt.xaml" isShared="false"/>-->
		</standAloneResources>
	</iocConfigSection>
</configuration>