<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TFSObjects.Properties.Settings.TFSAccessConnectionString"
        connectionString="Data Source=bprspvsts01;Initial Catalog=TFSAccess;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="PendingChangesEntities" connectionString="metadata=res://*/PendingChangesEntities.csdl|res://*/PendingChangesEntities.ssdl|res://*/PendingChangesEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=bprspvsts01;Initial Catalog=TFSAccess;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
      <add key="TFSURI" value="http://localhost:8080/tfs/bgm"/>
      <add key="trace" value="true"/>
      <add key="usr" value=""/>
      <add key="psw" value=""/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CheckinSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50562/Checkin.asmx" binding="basicHttpBinding"
                bindingConfiguration="CheckinSoap" contract="wsCheckin.CheckinSoap"
                name="CheckinSoap" />
        </client>
    </system.serviceModel>
</configuration>