body
{
	font-family: Tahoma, Verdana, Sans-Serif;
	font-size: 8pt;
}
TABLE
{
	font-family: Tahoma, Verdana, Sans-Serif;
	font-size: 8pt;
}
.MediumTextBox
{
	border-right: 1px solid;
	border-top: 1px solid;
	font-size: 8pt;
	border-left: 1px solid;
	width: 300px;
	border-bottom: 1px solid;
	font-family: Tahoma, Verdana, Sans-Serif;
}
