<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ExGridControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ExGridControl.Properties.Settings>
            <setting name="ExGridControl_GFO_GestaoDeFrotaOnLineWS" serializeAs="String">
                <value>http://localhost/globus5/GestaoDeFrotaOnlineWS.asmx</value>
            </setting>
            <setting name="ExGridControl_GLB_GlobusWS" serializeAs="String">
                <value>http://localhost/globus5/GlobusWS.asmx</value>
            </setting>
        </ExGridControl.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
