<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
    <add key="connection.driver_class" value="NHibernate.Driver.OleDbDriver" />
    <add key="connection.connection_string" value="Provider=OraOLEDB.Oracle.1;Data Source=ORA11G64;Persist Security Info=True;User ID=SIITESTE;Password=SIITESTE;Unicode=True" />
    <add key="show_sql" value="true" />
    <add key="dialect" value="NHibernate.Dialect.OracleDialect" />
    <add key="defaultCulture" value="pt-BR" />
  </appSettings>
  <connectionStrings>
    <add name="Model1" connectionString="data source=(LocalDb)\v11.0;initial catalog=WindowsFormsApplication2.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>