<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="10.0">
  <RuleHintPaths>
    <Path>..\BlogDemo.CodeAnalysisRules\bin\Debug</Path>
  </RuleHintPaths>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CR1000" Action="Error" />
  </Rules>
</RuleSet>