<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WFA_TesteWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WFA_TesteWebService.Properties.Settings>
            <setting name="WFA_TesteWebService_trr_TransportadorRevendedorRetalhistaWS"
                serializeAs="String">
                <value>http://localhost:1503/TransportadorRevendedorRetalhistaWS.asmx</value>
            </setting>
        </WFA_TesteWebService.Properties.Settings>
    </applicationSettings>
</configuration>