<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <!-- These cant be bigger than 2 and 25 as Yahoo ImageSearch 
         API has a limit of 50 (so ROWS * COLS can't be > 50) -->
    <add key="rows" value="2"/>
    <add key="columns" value="25"/>
    <!-- Set this true if you want the 3D model to flip 
         around on mouse over -->
    <add key="should3DModelFlipOnMouseOver" value="true"/>
    <!-- Saved image default location -->
    <add key="savedImageLocation" value="c:\"/>
    <!-- Set this true to stretch images to fill 3D model, 
         otherwise images will be shown at natural ratio -->
    <add key="stretchImagesFor3DModels" value="true"/>
  </appSettings>
</configuration>