<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Route_v3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Route_v3.Properties.Settings>
            <setting name="Route_v3_AuthenticationWS_Authentication" serializeAs="String">
                <value>http://teste.webservices.maplink2.com.br/webservices/v3/Authentication/Authentication.asmx</value>
            </setting>
            <setting name="Route_v3_RouteWS_Route" serializeAs="String">
                <value>http://teste.webservices.maplink2.com.br/webservices/v3/Route/Route.asmx</value>
            </setting>
        </Route_v3.Properties.Settings>
    </applicationSettings>
</configuration>