<?xml version="1.0" ?>
<BgmRodotec>
  <MenuPrincipal>
    <Caption>GFO</Caption>
    <DataInclusao>01/01/1999</DataInclusao>
    <Descricao></Descricao>
    <Nivel1>
      <NomeItemMenu>brSbTnNivel1Cadastro</NomeItemMenu>
      <Caption>Cadastro</Caption>
      <Descricao>Registro das informações detalhadas necessárias para utilização do módulo.</Descricao>
      <Icone>a</Icone>
      <Nivel2>
        <Caption>Dados de endereçamento</Caption>
        <NomeItemMenu>brSbTnNivel2Dadosdeenderecamento</NomeItemMenu>
        <Descricao></Descricao>
        <Icone>a</Icone>
        <ItemMenu>
          <NomeItemMenu>ItemMenuPaises</NomeItemMenu>
          <Caption>Países</Caption>
          <Descricao>SubMenuNivel2Cadastro</Descricao>
          <Icone>a</Icone>
          <NomeTela>Pa</NomeTela>
          <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
          <DataInclusao>01/01/1999</DataInclusao>
          <Usuario>TESTE</Usuario>
        </ItemMenu>
        <ItemMenu>
          <NomeItemMenu>ItemMenuUF</NomeItemMenu>
          <Caption>UF</Caption>
          <Icone>b</Icone>
          <NomeTela>b</NomeTela>
          <DLL>b</DLL>
          <DataInclusao>01/01/1999</DataInclusao>
          <Usuario>TESTE</Usuario>
        </ItemMenu>
      </Nivel2>
      <ItemMenu>
        <NomeItemMenu>ItemMenuMensagens</NomeItemMenu>
        <Caption>Mensagens</Caption>
        <Icone>a</Icone>
        <NomeTela>MensagemValidador</NomeTela>
        <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
        <DataInclusao>01/01/1999</DataInclusao>
        <Usuario>TESTE</Usuario>
      </ItemMenu>
      <Nivel2>
        <Caption>Pârametros</Caption>
        <NomeItemMenu>brSbTnNivel2Parametros</NomeItemMenu>
        <DataInclusao>01/01/1999</DataInclusao>
        <Usuario>TESTE</Usuario>
        <Icone></Icone>
        <ItemMenu>
          <NomeItemMenu>ItemMenuParametros</NomeItemMenu>
          <Caption>Pârametros</Caption>
          <Icone>a</Icone>
          <NomeTela>Parametros</NomeTela>
          <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
          <DataInclusao>01/01/1999</DataInclusao>
          <Usuario>TESTE</Usuario>
        </ItemMenu>
        <ItemMenu>
          <NomeItemMenu>ItemMenuUsuarios</NomeItemMenu>
          <Caption>Usuários</Caption>
          <Icone>b</Icone>
          <NomeTela>Usuario</NomeTela>
          <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
          <DataInclusao>01/01/1999</DataInclusao>
          <Usuario>TESTE</Usuario>
        </ItemMenu>
        <ItemMenu>
          <NomeItemMenu>ItemMenuOperadora</NomeItemMenu>
          <Caption>Operadora</Caption>
          <Icone></Icone>
          <NomeTela>Operadora</NomeTela>
          <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
          <DataInclusao>01/01/1999</DataInclusao>
          <Usuario>TESTE</Usuario>
        </ItemMenu>
      </Nivel2>
      <ItemMenu>
        <NomeItemMenu>ItemMenuOcorrencias</NomeItemMenu>
        <Caption>Ocorrências</Caption>
        <Icone>a</Icone>
        <NomeTela>OcorrenciaValidador</NomeTela>
        <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
        <DataInclusao>01/01/1999</DataInclusao>
        <Usuario>TESTE</Usuario>
      </ItemMenu>
      <ItemMenu>
        <NomeItemMenu>ItemMenuPainelInformativo</NomeItemMenu>
        <Caption>Painel informativo</Caption>
        <Icone>a</Icone>
        <NomeTela>PainelInformativo</NomeTela>
        <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
        <DataInclusao>01/01/1999</DataInclusao>
        <Usuario>TESTE</Usuario>
      </ItemMenu>
      <ItemMenu>
        <NomeItemMenu>ItemMenuGrupoAtendimento</NomeItemMenu>
        <Caption>GrupoAtendimento</Caption>
        <Icone>a</Icone>
        <NomeTela>GrupoDeAtendimento</NomeTela>
        <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
        <DataInclusao>01/01/1999</DataInclusao>
        <Usuario>TESTE</Usuario>
      </ItemMenu>
    </Nivel1>

    <Nivel1>
      <Caption>Operacional</Caption>
      <Descricao>Tarefas, definidas de forma organizada sistematicamente a serem executadas.</Descricao>
      <NomeItemMenu>brSbTnNivel1Operacional</NomeItemMenu>
      <Icone>a</Icone>
      <ItemMenu>
        <NomeItemMenu>ItemMenuControleOperacional</NomeItemMenu>
        <Caption>Controle operacional</Caption>
        <Icone>a</Icone>
        <NomeTela>a</NomeTela>
        <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
        <DataInclusao>01/01/1999</DataInclusao>
        <Usuario>TESTE</Usuario>
      </ItemMenu>
      <ItemMenu>
        <NomeItemMenu>ItemMenuLocalizarVeiculos</NomeItemMenu>
        <Caption>Localizar veículos</Caption>
        <Icone>a</Icone>
        <NomeTela>a</NomeTela>
        <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
        <DataInclusao>01/01/1999</DataInclusao>
        <Usuario>TESTE</Usuario>
      </ItemMenu>
      <Nivel2>
        <Caption>Pârametros</Caption>
        <NomeItemMenu>brSbTnNivel2Parametros</NomeItemMenu>
        <DataInclusao>01/01/1999</DataInclusao>
        <Usuario>TESTE</Usuario>
        <Icone></Icone>
        <ItemMenu>
          <NomeItemMenu>ItemMenuParametros</NomeItemMenu>
          <Caption>Pârametros</Caption>
          <Icone>a</Icone>
          <NomeTela>Parametros</NomeTela>
          <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
          <DataInclusao>01/01/1999</DataInclusao>
          <Usuario>TESTE</Usuario>
        </ItemMenu>
        <ItemMenu>
          <NomeItemMenu>ItemMenuUsuarios</NomeItemMenu>
          <Caption>Usuários</Caption>
          <Icone>b</Icone>
          <NomeTela>Usuario</NomeTela>
          <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
          <DataInclusao>01/01/1999</DataInclusao>
          <Usuario>TESTE</Usuario>
        </ItemMenu>
        <ItemMenu>
          <NomeItemMenu>ItemMenuOperadora</NomeItemMenu>
          <Caption>Operadora</Caption>
          <Icone></Icone>
          <NomeTela>Operadora</NomeTela>
          <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
          <DataInclusao>01/01/1999</DataInclusao>
          <Usuario>TESTE</Usuario>
        </ItemMenu>
      </Nivel2>
      <Nivel2>
        <Caption>Pârametros</Caption>
        <NomeItemMenu>brSbTnNivel2Parametros</NomeItemMenu>
        <DataInclusao>01/01/1999</DataInclusao>
        <Usuario>TESTE</Usuario>
        <Icone></Icone>
        <ItemMenu>
          <NomeItemMenu>ItemMenuParametros</NomeItemMenu>
          <Caption>Pârametros</Caption>
          <Icone>a</Icone>
          <NomeTela>Parametros</NomeTela>
          <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
          <DataInclusao>01/01/1999</DataInclusao>
          <Usuario>TESTE</Usuario>
        </ItemMenu>
        <ItemMenu>
          <NomeItemMenu>ItemMenuUsuarios</NomeItemMenu>
          <Caption>Usuários</Caption>
          <Icone>b</Icone>
          <NomeTela>Usuario</NomeTela>
          <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
          <DataInclusao>01/01/1999</DataInclusao>
          <Usuario>TESTE</Usuario>
        </ItemMenu>
        <ItemMenu>
          <NomeItemMenu>ItemMenuOperadora</NomeItemMenu>
          <Caption>Operadora</Caption>
          <Icone></Icone>
          <NomeTela>Operadora</NomeTela>
          <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
          <DataInclusao>01/01/1999</DataInclusao>
          <Usuario>TESTE</Usuario>
        </ItemMenu>
      </Nivel2>
      <Nivel2>
        <Caption>Pârametros</Caption>
        <NomeItemMenu>brSbTnNivel2Parametros</NomeItemMenu>
        <DataInclusao>01/01/1999</DataInclusao>
        <Usuario>TESTE</Usuario>
        <Icone></Icone>
        <ItemMenu>
          <NomeItemMenu>ItemMenuParametros</NomeItemMenu>
          <Caption>Pârametros</Caption>
          <Icone>a</Icone>
          <NomeTela>Parametros</NomeTela>
          <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
          <DataInclusao>01/01/1999</DataInclusao>
          <Usuario>TESTE</Usuario>
        </ItemMenu>
        <ItemMenu>
          <NomeItemMenu>ItemMenuUsuarios</NomeItemMenu>
          <Caption>Usuários</Caption>
          <Icone>b</Icone>
          <NomeTela>Usuario</NomeTela>
          <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
          <DataInclusao>01/01/1999</DataInclusao>
          <Usuario>TESTE</Usuario>
        </ItemMenu>
        <ItemMenu>
          <NomeItemMenu>ItemMenuOperadora</NomeItemMenu>
          <Caption>Operadora</Caption>
          <Icone></Icone>
          <NomeTela>Operadora</NomeTela>
          <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
          <DataInclusao>01/01/1999</DataInclusao>
          <Usuario>TESTE</Usuario>
        </ItemMenu>
      </Nivel2>
      <Nivel2>
        <Caption>Pârametros</Caption>
        <NomeItemMenu>brSbTnNivel2Parametros</NomeItemMenu>
        <DataInclusao>01/01/1999</DataInclusao>
        <Usuario>TESTE</Usuario>
        <Icone></Icone>
        <ItemMenu>
          <NomeItemMenu>ItemMenuParametros</NomeItemMenu>
          <Caption>Pârametros</Caption>
          <Icone>a</Icone>
          <NomeTela>Parametros</NomeTela>
          <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
          <DataInclusao>01/01/1999</DataInclusao>
          <Usuario>TESTE</Usuario>
        </ItemMenu>
        <ItemMenu>
          <NomeItemMenu>ItemMenuUsuarios</NomeItemMenu>
          <Caption>Usuários</Caption>
          <Icone>b</Icone>
          <NomeTela>Usuario</NomeTela>
          <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
          <DataInclusao>01/01/1999</DataInclusao>
          <Usuario>TESTE</Usuario>
        </ItemMenu>
        <ItemMenu>
          <NomeItemMenu>ItemMenuOperadora</NomeItemMenu>
          <Caption>Operadora</Caption>
          <Icone></Icone>
          <NomeTela>Operadora</NomeTela>
          <DLL>c:\Globus5\WPF\Distribuicao\BgmRodotec.Globus5.Cadastros.GestaoDeFrotaOnLine.dll</DLL>
          <DataInclusao>01/01/1999</DataInclusao>
          <Usuario>TESTE</Usuario>
        </ItemMenu>
      </Nivel2>      
    </Nivel1>

    <Nivel1>
      <Caption>Resultados</Caption>
      <NomeItemMenu>brSbTnNivel1Resultados</NomeItemMenu>
      <Descricao>Conjunto de relatórios, gráficos e consultas.</Descricao>
      <Icone>a</Icone>
    </Nivel1>
  </MenuPrincipal>
</BgmRodotec>



