<?xml version="1.0"?>
<configuration>
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION -->
    <compilation defaultLanguage="c#" debug="true" />
    <!--  CUSTOM ERROR MESSAGES  -->
    <customErrors mode="RemoteOnly"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  <appSettings>
    <add key="WebServiceAuthentication.ServicePointReference.ServicePoint" value="http://localhost:50122/src_VS2010/ServicePoint.asmx"/>
  </appSettings>
</configuration>
