<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnviarSMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EnviarSMS.Properties.Settings>
            <setting name="EnviarSMS_GFO_GestaoDeFrotaOnLineWS" serializeAs="String">
                <value>http://192.1.1.237:8082/wsGlobus5/GestaoDeFrotaOnlineWS.asmx</value>
            </setting>
            <setting name="EnviarSMS_human_Sms_BindingImplService" serializeAs="String">
                <value>http://system.human.com.br/GatewayIntegration/services/Sms</value>
            </setting>
        </EnviarSMS.Properties.Settings>
    </applicationSettings>
</configuration>