<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Globus5.WPF.Sistemas.CriaMenuPrincipal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Globus5.WPF.Sistemas.CriaMenuPrincipal.Properties.Settings>
            <setting name="CriaMenuPrincipal_gfo_GestaoDeFrotaOnLineWS" serializeAs="String">
                <value>http://localhost/globus5/gestaodefrotaonlinews.asmx</value>
            </setting>
        </Globus5.WPF.Sistemas.CriaMenuPrincipal.Properties.Settings>
    </applicationSettings>
</configuration>