<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ConsultaHistDetec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ConsultaHistDetec.Properties.Settings>
            <setting name="ConsultaHistDetec_gfo_GestaoDeFrotaOnLineWS" serializeAs="String">
                <value>http://localhost/globus5/gestaodefrotaonlinews.asmx</value>
            </setting>
            <setting name="ConsultaHistDetec_ctrl_ControleWS" serializeAs="String">
                <value>http://localhost/globus5/controleWS.asmx</value>
            </setting>
            <setting name="ConsultaHistDetec_seg_SegurancaWS" serializeAs="String">
                <value>http://192.1.1.7:8183/Alessandro.Augusto/SegurancaWS.asmx</value>
            </setting>
        </ConsultaHistDetec.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
