<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutenticacaoWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AutenticacaoWebService.Properties.Settings>
            <setting name="AutenticacaoWebService_intWs_IntegracaoWS" serializeAs="String">
                <value>http://localhost/globus5/integracaows.asmx</value>
            </setting>
        </AutenticacaoWebService.Properties.Settings>
    </applicationSettings>
</configuration>