<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Consultando_IntegracaoWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Consultando_IntegracaoWS.Properties.Settings>
            <setting name="Consultando_IntegracaoWS_Integracao_WS_IntegracaoWS"
                serializeAs="String">
                <value>http://187.115.142.34:8088/homologacaogfo/integracaows.asmx</value>
            </setting>
        </Consultando_IntegracaoWS.Properties.Settings>
    </applicationSettings>
</configuration>