<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WCF_Client_SvcUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WCF_Client_SvcUtil.Properties.Settings>
            <setting name="SvcUtilPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SvcUtilFilename" serializeAs="String">
                <value>SvcUtil.exe</value>
            </setting>
            <setting name="ParamAsync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ParamMergeConfig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParamSerializable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TxtOutputDirectory_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="TxtProxyFilename_Text" serializeAs="String">
                <value>GeneratedProxy.cs</value>
            </setting>
            <setting name="TxtConfigFilename_Text" serializeAs="String">
                <value>app.config</value>
            </setting>
            <setting name="TxtServiceAddress_Text" serializeAs="String">
                <value>http://</value>
            </setting>
            <setting name="StartWithAereoGlass" serializeAs="String">
                <value>True</value>
            </setting>
        </WCF_Client_SvcUtil.Properties.Settings>
    </userSettings>
</configuration>