<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->



<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        
    </system.web>
  <appSettings>
    <add key="TFSURI" value="http://localhost:8080/tfs/bgm"/>
    <add key="trace" value="true"/>
    <add key="usr" value="administrator"/>
    <add key="psw" value="P2ssw0rd"/>
  </appSettings>

</configuration>
